/**j'ai cherché de polices libre de droits sur https://fonts.google.com/**/
/**j'ai sélectionné et importé les polices Oxygen, Margarine et Iceberg**/
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Margarine&family=Oxygen&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Oxygen';
    padding: 0;
    margin: 0; /**Pour retirer les marges au départ : margin et padding à 0**/
    /**La bibliothèque Google Fonts nous propose toutes les polices de Google.**/
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
    padding: 5px 35px;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}
a{
    text-decoration: none; /**retire le soulignement (les liens)**/
    color: #f0c77a;
}

                        /** NAVBAR **/
header nav{  /**Je précise Header devant nav parcque si j'ajoute une autre barre denavigation dans le site, ça permettre de les distinguer.**/
    display: flex; /**Pour aligner tous les liens**/
    flex-wrap: wrap; /**pour que les liens ne s'entassent pas quand on réduit, ça permet de les empiler.**/
    overflow: hidden; /**Tout ce qui dépasse sera caché**/
    background-color: blue;
    position: fixed; /**La nav restera fixé devant nous même si on scrolle**/
    width: 100%; /**Elle occupera 100% de sa largeur tout le temps.**/
    opacity: 0.9;
    z-index: 30;
}
header li{
    /**On précise header pour aller chercher la liste de la rubrique header et pas celle de la rubrique section**/
    float: right;
    font-size: 1.2em; /**Une taille en em s'ajuste à la page contrairement à la taille en px . Si l'écran est plus grand, avec em le caractère grandi aussi.**/
}
header{
    text-decoration: none; 
    display: block;
    text-align: center; /**Chaque élément sera centré.**/
    padding: 18px 16px;
}
#logo{  /**# pour atteindre le logo de la même manière qu'on fait id dans HTML**/
    font-family: 'Iceberg', 'cursive';
    font-weight: bold; /**l'épaisseur de l'écriture est en gras (=bold)**/
    float: left; /**Le logo s'est calé à gauche.**/
}
                        /**IMAGE PRINCIPALE**/
#imagePrincipale{
    padding-top: 60px; /**Pour faire descendre tout le reste (texte)**/
    background: url("../Assets/background.jpg") 
    no-repeat fixed 50% 50%;
    /**J'insère l'image principale avec le background.**/
    /** fixed permet que l'image ne bouge plus**/
    background-size: cover; /**L'image couvre tout la largeur de la page et ne dépassera pas sur un écran plus petit par exemple.**/
    height: 799px; /**pour agrandir l'image**/
}
h1{
    font-family: 'Oxygen', cursive;
    color: white;
    font-size: 6em;
    text-align: center;
    margin-top: 40px;
    text-shadow: 5px 5px 1px rgb(161, 155, 238);
    /**On peut utiliser text-shadow generator. On essaie et on copie-colle.**/
}
#premierTrait{
    height: 1px;
    width: 25%;
    background-color: #f0c77a;
    /**-3px : Les éléments se rappochent de lui.**/
    /**auto va centrer**/
    text-align: center;
    margin: -3px auto; 
    text-shadow: 5px 5px 1px rgb(161, 155, 238);
}
h3{
    font-family: 'Oxygen', cursive;
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 5px 5px 1px rgb(161, 155, 238);
}
/******************************************************* PRESENTATION ***************************************************/
#presentation{
    background-color: #f0c77a;
    padding: 10px 0px 100px 0;
}
#textIntro{
    padding: 0px 20%;
}
#representationsvisuelles {
 display: flex; /**pour aligner les images les unes aux autres**/
 flex-wrap: wrap; /**quand on réduit, ça s'empile**/
 justify-content: space-between; /**ça les a espacé et ça a pris tout l'espace sur la largeur**/
 padding: 30px 10%;
}
/**appeler une classe : faire un point.**/

.imagesrepresentationsvisuelles1 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    text-align: center;
    margin: 55px 15px 15px 150px;
}
.imagesrepresentationsvisuelles1 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 650px;
    width: 40%;
    background-color: black;
    border-style: dashed ;
    border-color: blanchedalmond;
    margin: 15px 15px 150px 450px;
}
.imagesrepresentationsvisuelles1 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
} 

.imagesrepresentationsvisuelles2 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px 15px 15px 150px;
    font-weight: 300;
}
.imagesrepresentationsvisuelles2 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles2 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
} 

.imagesrepresentationsvisuelles3 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles3 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles3 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}       

.imagesrepresentationsvisuelles4 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles4 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles4 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}       

.imagesrepresentationsvisuelles5 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}

.imagesrepresentationsvisuelles5 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles5 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}       


.imagesrepresentationsvisuelles6 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles6 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles6 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}       

.imagesrepresentationsvisuelles7 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles7 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles7 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}   

.imagesrepresentationsvisuelles8 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles8 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles8 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}   

.imagesrepresentationsvisuelles9 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles9 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles9 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}   

.imagesrepresentationsvisuelles10 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles10 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles10 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}   

.imagesrepresentationsvisuelles11 h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles11 img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 15px 15px 15px 150px;
}
.imagesrepresentationsvisuelles11 img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}   

.imagesrepresentationsvisuelles h4 {
    font-family: 'Oxygen', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}

.imagesrepresentationsvisuelles img {
    /**On peut utiliser le générateur, le même que pour text-shadox (text-shadow generator)**/
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 16px 18px;
    height: 300px;
    width: 35%;
    background-color: blanchedalmond;
    border-color: blue;    
    margin: 25px;
}
.imagesrepresentationsvisuelles img:hover {
    /**hover , c'est mettre une opacité quand la souris survole l'image**/
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out; /**transition modier la valeur d'une propriété CSS dans le temps**/
    /**Ease-in-out : la transition commence et se nit lentement**/
}    

/******************************************************* ET TANT A DECOUVRIR ... ***************************************************/
#videos{
    height: 1400px;
    background-color: #fffbef;
    padding: 400px ;
    text-align: center;
    margin-top: 15px;
    margin: 15px -150px;
}
#videos h2{
    padding: 5px;
    margin-top: -200px;
}
#videos p{
    height: 60px;
    background-color: #01df74;
    float: right;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 560px;
    margin-left: 400px;
    position: absolute;
    z-index: 20;
}
#videos img{
    border-radius: 30% 0;
    border-style:solid;
    border-color: blue;
    box-shadow: 5px 5px 15px -1px rgba(10, 6, 36, 0.7);
    text-align: center;
    padding: 50px 5px;
    height: 310px;
    width: 600px;
    float: left; 
    position: relative;
    z-index: 10; /**les p ont un z-index plus élevé, alors ils passeront devant les images**/
}
#videos img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out; /**transition modier la valeur d'une propriété CSS dans le temps**/
    /**Ease-in-out : la transition commence et se fini lentement**/
}
/**Pour mettre les 4 images en décalés (float)**/
#illusion{
    float: right;
    margin-right: -200px;
}
#stylo{
    float: right;
    margin-right: -200px;
}

#eau{
    float: left;
    margin-right: -200px;
}


#croquis {
    float: left;
    margin-right: -200px;
}


/** mescroquis 
url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.6435-9/49033033_2158695907714237_5720229657484197888_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=l2rIlfAEIpcAX_DdS5_&_nc_ht=scontent-cdg2-1.xx&oh=31d5500e56000a6abd02e2cd9d06f0c3&oe=61BBCEFF"); **/
        /**VIDEO : "https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FLa.voleuse.d.image%2Fvideos%2F1891689017748262%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden"**/

/** illusions
url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.6435-9/160085384_2756906824559806_6313198550188637942_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=0debeb&_nc_ohc=uwrHCd0UJroAX9KO6zq&_nc_ht=scontent-cdg2-1.xx&oh=ad34e4a3aa153bef3f7fcb55f19bd5b8&oe=61B9E2BD"); **/

/** eau
url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.18169-9/11141335_1586557778261389_4025665009934744381_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=pAhu67QQZBwAX_scy8c&_nc_ht=scontent-cdg2-1.xx&oh=519b1d93526dc59efa183b93fa1424bf&oe=61BCC7C8") ; **/

/**stylo img{
url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.6435-9/42832425_2105177729732722_7607516825118572544_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=o3UkLZX-KMUAX-8F6VZ&_nc_ht=scontent-cdg2-1.xx&oh=6daac0819779e851d392645d42b731e1&oe=61BB582B"); **/


/******************************************************* FOOTER ***************************************************/
                    
footer{
    background-color: #3d3221;
    color: rgb(231, 191, 162);
    padding: 20px 0 10px 0;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'margarin', sans-serif;
    border-radius: 8px;
}
textarea{
    height: 120px;
}
button{
    font-size: 1.5em;
    background-color: #f0c77a;
}
button:hover{
    background-color: #771505;
    color: #f0c77a;
    cursor: pointer;
    transition: 0.3s ease-in-out; 
    /**transition modier la valeur d'une propriété CSS dans le temps**/
    /**Ease-in-out : la transition commence et se finit lentement**/
}
#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #f0c77a;
    margin: 60px auto;
}
#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright{
    width: 50%;
    text-align: left;
    color: #f0c77a;
}
#icons{
    width: 50%;
    text-align: right;
}
#icons a{
    display: inline-block;
    padding: 0 35px;
    
    font-size: 1.3em;
    color: #f0c77a;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.1s;
}